@*
    For more information on enabling MVC for empty projects, visit https://go.microsoft.com/fwlink/?LinkID=397860
*@

<!doctype html>
<html lang="en">
<body>
    <div class="container mt-5 mb-3">
        <div class="row d-flex justify-content-center">
            <div class="col-mb-8">
                <div class="card">
                    <div class="d-flex flex-row p-2">
                        <img src="https://localhost:44396/images/logoo.png" width="98" style="margin-right:10px;" alt="image gym" />
                        <div class="d-flex flex-column"><span class="font-weight-bold">Tax Invoice</span><small>INV-001</small></div>
                    </div>
                    <hr>
                    <div class="table-responsive p-2">
                        <table class="table table-borderless">
                            <tbody>
                                <tr class="add">
                                    <td>To</td>
                                    <td>From</td>
                                </tr>
                                <tr class="content">
                                    <td class="font-weight-bold">Google <br> Attn: John Smith Pymont<br>Australia</td>
                                    <td class="font-weight-bold">Facebook <br> Attn: John Right Polymont <br> USA</td>
                                </tr>
                            </tbody>
                        </table>
                    </div>
                    <hr>

                    <div class="products p-2">
                        <table class="table table-borderless">
                            <tbody>
                                <tr class="add">
                                    <td>Descripción</td>
                                    <td>Días</td>
                                    <td>Precio</td>
                                    <td>Total</td>
                                </tr>
                                <tr class="content">
                                    <td>Rediseño de sitio web</td>
                                    <td>15</td>
                                    <td>$1,500</td>
                                    <td>$22,500</td>
                                </tr>
                                <tr class="content">
                                    <td>Logotipo e identidad</td>
                                    <td>10</td>
                                    <td>$1,500</td>
                                    <td>$15,000</td>
                                </tr>
                                <tr>
                                    <td>Material de marketing</td>
                                    <td>3</td>
                                    <td>$1,500</td>
                                    <td>$4,500</td>
                                </tr>
                            </tbody>
                        </table>
                    </div>

                    <hr>
                    <div class="table-responsive p-2">
                        <table class="table table-borderless">
                            <tbody>
                                <tr class="add">
                                    <td>Subtotal</td>
                                    <td>GST (10%)</td>
                                    <td>Total</td>
                                </tr>
                                <tr class="content">
                                    <td>$42,000</td>
                                    <td>$2,500</td>
                                    <td>$44,500</td>
                                </tr>
                            </tbody>
                        </table>
                    </div>
                    <hr>

                    <div class="table-responsive p-2">
                        <table class="table table-borderless" style="flex-direction: column;">
                            <tbody>
                                <tr>
                                    <td>Bank Details</td>
                                </tr>
                                <tr>
                                    <td>Bank Name: ADS BANK</td>
                                </tr>
                                <tr>
                                    <td>Swift Code: ADS1234Q</td>
                                </tr>
                                <tr>
                                    <td>Account Holder:Jelly Pepper</td>
                                </tr>
                                <tr>
                                    <td>Account Number: 5454542WQR</td>
                                </tr>
                            </tbody>
                        </table>
                    </div>
                </div>
            </div>
        </div>
    </div>
</body>
</html>
