
@model List<GymManager.Core.Members.MembershipTypes>


<table class="table">
    <thead>
        <tr>
            <th scope="col">Membership</th>
            <th scope="col">Costo</th>
            <th scope="col"></th>
            <th scope="col"></th>
        </tr>
    </thead>
    <tbody>
        @foreach (var membershipTypes in Model)
        {
            <tr>
                <th scope="row">@membershipTypes.Name</th>
                <th>@membershipTypes.Costo</th>

                <td>
                    <a asp-action="Edit" class="btn btn-outline-info" asp-route-membershipTypesId="@membershipTypes.Id">Edit</a>
                </td>

                <td>
                    <a asp-action="Delete" class="btn btn-outline-danger" asp-route-membershipTypesId="@membershipTypes.Id">Delete</a>
                </td>
            </tr>
        }
    </tbody>
</table>