@page
@using GymManager.Web.Views.Home
@using Microsoft.AspNetCore.Mvc.Localization
@using Microsoft.Extensions.Localization



@model IndexModel

@inject IStringLocalizer<IndexModel> localizer;
@inject IHtmlLocalizer<IndexModel> htmlLocalizer;

@{
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<style>
   .culture-switcher {
    position: absolute;
    top: 70px; /* Adjust this value based on the height of your navbar */
    right: 15px; /* Adjust the distance from the right edge */
   }
</style>

<div class="container">
    <div class="culture-switcher">
        <vc:culture-switcher />
    </div>
    <h1>@localizer.GetString("welcome")</h1><br />
</div>