@*
    For more information on enabling MVC for empty projects, visit https://go.microsoft.com/fwlink/?LinkID=397860
*@
@{
}


<!doctype html>
<html lang="en" class="h-100">
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta name="description" content="">
    <meta name="author" content="Mark Otto, Jacob Thornton, and Bootstrap contributors">
    <meta name="generator" content="Hugo 0.84.0">
    <div style="display: flex">
        <!--<img src="~/images/logogym.jpg" style="width: 200px; height:200px;"/>-->
        <title>GymManager</title>
    </div>
    <!-- LINK DEL FAVICON-->
    <!--https://img.freepik.com/free-photo/build-your-own-body-strength-fitness-exercise-get-fit_53876-21380.jpg?w=996&t=st=1706391284~exp=1706391884~hmac=aa5321ac1e90da7714627a9af55ab4f310ee5eb0217d89e45cbf7ebcfae6ae18-->
    <link rel="icon" href="~/images/logogym.jpg">

    <link rel="canonical" href="https://getbootstrap.com/docs/5.0/examples/sticky-footer-navbar/">

    <!-- Bootstrap core CSS -->
    <!-- <link rel="stylesheet" href="../Bootstrap/css/bootstrap.min.css" /> -->
    <link rel="stylesheet" href="~/bootstrap/css/bootstrap.min.css"  />
    <!-- Favicons -->
    <meta name="theme-color" content="#7952b3">

    <style>
        .bd-placeholder-img {
            font-size: 1.125rem;
            text-anchor: middle;
            -webkit-user-select: none;
            -moz-user-select: none;
            user-select: none;
        }

        @*el doble @@ ayuda a salvar,escapar el @ ya que es un caracter reservado para codigo del lado del servidor*@
        @@media (min-width: 768px) {
            .bd-placeholder-img-lg {
                font-size: 3.5rem;
            }
        }
        main > .container {
            padding: 60px 15px 0;
        }

        .logo {
          width: 100px;
          height: auto;
          float: left;
          margin-right: 10px;
        }
        .carousel-item img {
            height: 600px; /* Set the desired height */
            object-fit: cover; /* Maintain the aspect ratio and crop the image to cover the entire container */
        }
        .formID{
            position: absolute;
            top: 50%;
            left: 50%;
            transform: translate(-50%, -50%);
            box-shadow: 0 0 10px rgba(0, 0, 0, 0.5);
        }
    </style>


    <!-- Custom styles for this template -->
</head>
<body class="d-flex flex-column h-100">

    <header>
        <!-- Fixed navbar -->
        <nav class="navbar navbar-expand-md navbar-dark fixed-top bg-dark">
            <div class="container-fluid">
                <a class="navbar-brand" href="#"><img src="~/images/logogym.jpg" style="width: 100px; height:50px;"/>Gym Manager</a>
                <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarCollapse" aria-controls="navbarCollapse" aria-expanded="false" aria-label="Toggle navigation">
                    <span class="navbar-toggler-icon"></span>
                </button>
                <div class="collapse navbar-collapse" id="navbarCollapse">
                    <ul class="navbar-nav me-auto mb-2 mb-md-0">
                        <li class="nav-item">
                            <a class="nav-link active" aria-current="page" href="#">Home</a>
                        </li>
                    </ul>
                    <form class="d-flex">
                        <input class="form-control me-2" type="search" placeholder="Search" aria-label="Search">
                        <button class="btn btn-outline-success" type="submit">Search</button>
                    </form>
                </div>
            </div>
        </nav>
    </header>

    <!-- Begin page content -->
    <main class="flex-shrink-0">
        <div class="container">
          <p style="background-color: lightsteelblue; color: midnightblue; font-family:'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif; font-size:x-large; text-align:center" class="mt-5">WELCOME!</p>
        </div>
    </main>

    <div class="formID">
        <form class="row g-3">
            <label><center>Check-in</center></label>
              <div class="col-auto">
                <input type="text" class="form-control" id="inputPassword2" placeholder="Enter your ID...">
              </div>
              <div class="col-auto">
                <button type="submit" class="btn btn-primary mb-3">Confirm</button>
              </div>
         </form>
    </div>
    

    <footer class="footer mt-auto py-3 bg-light">
        <div class="container">
            <span class="text-muted">Place sticky footer content here.</span>
        </div>
    </footer>

    <script src="~/bootstrap/js/bootstrap.bundle.min.js"></script>

</body>
</html>